.wrapper {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

.slider {
  display: flex;
  width: 300px;
  overflow: hidden;
  margin: 0 20px;
}

.slider__list {
  padding: 0;
  display: flex;
  position: relative;
  right: 0;
  font-size: 50px;
  list-style: none;
  transition: right .3s;
}

.slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgb(235, 228, 140);
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

/* .slider__item--active {
  width: 100px;
  height: 100px;
  display: flex;
  transform: scale(1.2);
  transition: all .4s;
}

.slider__item--display{
  width: 100px;
  height: 100px;
  display: flex;
  transition: all .4s;
} */

.arrow {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 50px;
  cursor: pointer;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  color: red;
}

.arrow--noActive {
  color: grey;
  cursor: none;
}

.arrow--noActive:hover {
  color: grey;
}