.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 50px 100px;
  position: relative;
}

.btn {
  margin-top: 30px;
  color: #fff;
  text-transform: uppercase;
  background-color: rgb(189, 120, 230);
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid gray;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(245, 240, 196, .6);
  justify-content: center;
  align-items: center;
  z-index: 99999;
  position: absolute;
  display: flex;
}

.modal-wrapper {
  background-color: #333;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.modal-content {
  font-size: 18px;
  color: #fff;
  text-align: left;
}

.close {
  display: block;
  color: #fff;
  background-color: #fc0303;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -10px;
  right: -5px;
  text-align: center;
  cursor: pointer;
  position: absolute;
}