.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 50px 0;
}

.controls {
  display: flex;
  margin-bottom: 30px;
}

.count-selector {
  margin-right: 20px;
}

.blocks {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.block {
  font-size: 18px;
  color: #000;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  margin-right: 10px;
  margin-bottom: 10px;
}